.sidebar{
  background-color: #f4f4f4;
  height: 100%;
  min-height: 100vh;

  &__title{
    margin: 0 0 20px 20px !important;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 500;
    margin: 20px;
    color: #808080;
  }

  &__icon{
    width: 22px;
    float: left;
    margin: -3px 7px -5px -5px;
  }

  &__icon-tag{
    margin: 0 7px -5px -1px;
    background-color: #c8c8c8;
    position: relative;
    top: -7px;
    width: 16px;
    height: 6px;
    display: inline-block;
  }

  &__icon-add{
    margin: 0 7px -8px 5px;
    position: relative;
    display: inline-block;
    color: #0078D7;
    font-size: 27px;
  }

  &__icon-create{
    margin: -5px 7px -7px -5px;
    position: relative;
    display: inline-block;
  }

  &__btn--main{
    border: 0;
    padding: 12px 0 12px 20px;
    display: block;
    width: 100%;
    text-align: left;
    color: #808080;
    font-size: 15px;
    background: none;
    cursor: pointer;

    span{
      float: right;
      margin: 0 10% 0 0;
    }

    &:hover{
      background-color: #eaeaea;
    }

    &:focus{
      outline: 0;
    }

    &.selected{
      border-left: 4px solid #0078D7;
      font-weight: 600;
      background-color: #EAEAEA;
    }
  }

  &__tags-list{
    padding: 0;
    margin: 0;
  }

  &__input-create{
    border: 1px solid #0078D7;
    padding: 10px;
    margin: 10px 0 0 18px;
    background-color: transparent;
  }
}