.cards {
  box-sizing: border-box;
  padding: 10px 10px
}

.card {
  padding: 20px;
  background: #FFF;
  margin-bottom: 10px;
  color: #808080;

  &__partes {
    font-size: 15px;

    &__ativa{
      color: #01AE76;
      font-size: 13px !important;;
      margin: 0 4px -1px 0;
    }

    &__passiva{
      color: #FF5766;
      font-size: 13px !important;
      margin: 0 4px -1px 10px;
    }
  }

  &__classe {
    color: #4D4D4D;
  }

  &__assunto{
    color: #4D4D4D;
    font-weight: 500;
  }

  &__bottom{
    font-size: 15px;
    margin-top: 3px;
  }

  &__numero{
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 5px;
  }

  &__tarja-wrapper{
    display: inline-block;
    margin: 0 -10px 0 0;
  }

  &__tarja{
    padding: 3px 11px;
    display: inline-block;
    font-size: 12px;
    border-radius: 20px;
    margin: 0 6px 0 0;
  }

  &__tags-wrapper{
    &:hover{
      .card__tags-list{
        display: block;
      }
    }
  }

  &__folder-wraper{
    position: relative;
  }

  &__folder{
    text-align: center;
    position: relative;
    -webkit-transform: translateY(-50%);
    top: 50%;
    padding: 0 20px;
    margin: 0 20px;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
  }

  &__folder-icon{
    position: relative;
    margin: 0 5px -5px 0;
  }

  &__tags-wrapper{
    position: relative;
  }

  &__tags-ico{
    position: relative;
    -webkit-transform: translateY(-50%);
    top: 50%;
  }

  &__tags-list{
    display: none;
    position: absolute;
    left: 0;
    padding: 10px;
    top: 65px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px #9a9a9a;
    z-index: 3;

    div{
      white-space: nowrap;
      margin-bottom: 10px;
      font-size: 15px;
      min-width: 160px;
    }

    button{
      margin-bottom: 2px;
      display: block;
      border: none;
      width: 100%;
      text-align: left;
      padding: 6px 6px;
      font-size: 13px;
      cursor: pointer;
    }
  }

  &__tags-added{
    position: relative;

    &-container{
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
    }

    span{
      margin-bottom: 2px;
      display: inline-block;
      border: none;
      text-align: left;
      padding: 6px 6px;
      font-size: 13px;
      margin: 0 3px 6px 3px;
      background-color: #20BBD3;
      color: #fff;
      border-radius: 3px;
    }
  }

  &__clear-icon{
    font-size: 16px !important;
    position: relative;
    margin: 0 0 -5px 1px;
    cursor: pointer;
  }

}

.hiddenTag {
  display: none !important;
}