.search{
  background-color: #F9F9F9;
  padding: 14px;
  height: 30px;
  position: relative;

  input{
    border: none;
    background-color: transparent;
    padding: 5px 0 5px 30px;
    font-size: 17px;
    color: #808080;
    width: 100%;

    &:focus{
      outline: 0;
    }
  }

  &__icon{
    color: #808080;
    margin: 0 7px 0 0;
    top: 5px;
    position: absolute;
    top: 17px;
  }
}